<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Login</title>
		<link rel = "stylesheet" type ="text/css" href ="../../css/style.css"/>
		<link rel = "stylesheet" type ="text/css" href ="../../css/login.css"/>
		<script type = "text/javascript">
			function active(){
				var searchBar = document.getElementById('searchBar');
				if(searchBar.value = "Find product...")
				{
					searchBar.value ="";
					searchBar.placeholder="Find product...";
				}
			}
			
			function inactive(){
				var searchBar = document.getElementById('searchBar');
				if(searchBar.value = "")
				{
					searchBar.value ="Find product...";
					searchBar.placeholder="";
				}
			}
		</script>
	</head>
	<body>
		<!-- Header
		================================================== -->
		<div id = "header">
			<div class = "logo">
				<a href = "index.html"><img src="../../images/Logo_Group2_1.png" width = "200px" height = "80px"/></a>
			</div>
			<div class = "titleWeb">
				<h1>Online Auction</h1>
			</div>
			<div class = "nav">
				<ul type = "none" class= "navLog">
					<li><a href ="../Account/Login.html">Login</a> |</li>
					<li><a href ="../Account/SignUp.html">Sign up</a></li>
					<li><a href = "#"><img src="../../images/LogoEnglish.png" width = "20px" height = "20px"/></a></li>
					<li><a href = "#"><img src="../../images/LogoVietnam.png" width = "20px" height = "20px"/></a></li>
				</ul>				
				<div class ="navBar">
					<form action="" method="post">
							<input type = "text" id="searchBar" placeholder="" value = "Find product..." maxlength= "50" autocomplete= "off" onMouseDown ="active();" onBlur ="inactive();"/>
							<a href="#"><input type = "button" id= "searchBtn" value ="Search" /></a>
					</form>
				</div>
			</div>
		</div>

		<!-- Menu
		==================================================--> 
		<div id = "menu">
			<ul type = "none" class = "navMenu">
				<li><a href = "#">Product</a>
					<ul type = "none" class="navSub">
						<li><a href ="../../index.html">All</a></li>
						<li><a href ="../../views/Products/ProductSmartphone.html">Smart phone</a></li>
						<li><a href ="../../views/Products/ProductLaptop.html">Laptop</a></li>
						<li><a href ="../../views/Products/ProductTablet.html">Tablet</a></li>
						<li><a href ="../../views/Products/ProductHeadphone.html">Headphone</a></li>
						<li><a href ="../../views/Products/ProductSound.html">Sound</a></li>
						<li><a href ="../../views/Products/ProductOthers.html">Others</a></li>
					</ul>
				</li>
				<li><a href = "#">Being Auctioned</a>
					<ul type = "none" class="navSub">
						<li><a href ="../../views/Being Auctioned/BeingAuctioned.html">All</a></li>
						<li><a href ="../../views/Being Auctioned/Smartphone.html">Smart phone</a></li>
						<li><a href ="../../views/Being Auctioned/Laptop.html">Laptop</a></li>
						<li><a href ="../../views/Being Auctioned/Tablet.html">Tablet</a></li>
						<li><a href ="../../views/Being Auctioned/Headphone.html">Headphone</a></li>
						<li><a href ="../../views/Being Auctioned/Sound.html">Sound</a></li>
						<li><a href ="../../views/Being Auctioned/Others.html">Others</a></li>
					</ul>
				</li>
				<li><a href = "../../views/Result/result.html">Results</a></li>
				<li><a href = "#">Member</a>
					<ul type = "none" class="navSub">
						<li><a href ="../../views/Member/profile.html">Profile</a></li>
						<li><a href ="../../views/Member/pictures.html">Pictures</a></li>
						<li><a href ="../../views/Member/message.html">Message</a></li>
						<li><a href ="../../views/Member/articles.html">Articles</a></li>
						<li><a href ="../../views/Member/transition_history.html">Transition History</a></li>
					</ul>
				</li>
				<li><a href = "#">Tutorial</a>
					<ul type = "none" class="navSub">
						<li><a href ="../../views/Tutorial/tutorial-documents.html">Documents</a></li>
						<li><a href ="../../views/Tutorial/tutorial-videos.html">Videos</a></li>
						<li><a href ="../../views/Tutorial/tutorial-question.html">Popular Questions</a></li>
					</ul>
				</li>
				<li><a href = "#">About Us</a>
					<ul type = "none" class="navSub">
						<li><a href ="../../views/About Us/aboutus.html">Website</a></li>
						<li><a href ="../../views/About Us/aboutus.html">Contact</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<!-- Content
		==================================================-->
		<div id = "content">
		<div class="Logincontainer">
		<section id="Logincontent">
		<form action="">
			<h1>Login Form</h1>
			<div>
				<input type="text" placeholder="Username" required="" id="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" />
			</div>
			<div>
				<input type="submit" value="Log in" />
				<a href="SignUp.html">Register</a>
			</div>
		</form><!-- form -->
		</div>
		</section>
		</div>
		<!-- Footer
		==================================================-->
		<div id = "footer">
			<div>
				<h4>&copy; 2016 BY All members of Group 2 - Web Development - Class 13CLC - HCM University of Science</h4>
				<h4> ALL RIGHTS RESERVED</h4>
			</div>
		</div>
	</body>
</html>